*{
  margin: 8px;
  align-items: center;
  justify-items: center;
  display: inline-block;
}

/* .cardFilter{
  display: inline-block;
  align-items: center;
  justify-content: center;
  justify-items: center;
}
 */
