<!-- Interpolação -->
  <!-- <section>
  <h3>Interpolação</h3>
  <hr/>
  <p>{{name}}</p>
  <p>Seja bem vindo(a), {{name}} ao {{title}}</p>
  <p>{{name | uppercase}}</p>
  <p>Soma de 2 + 3 é igual {{2 + 3 }}</p>
  <p>Você nasceu em: {{calculaAnoNascimento()}}</p>
  <hr/>
  </section> -->
<!-- Event Binding -->
  <!-- section>
    <h3>Event Binding</h3>
    <hr/> -->
<!-- Modo 1 add imagem -->
    <!-- <img src="{{linkImgem}}" height="{{alturaImg}}" width="{{larguraImg}}" alt="Imagem"/> -->

    <!-- PROPERTY BINDING Modo 2 add imagem-->
    <!-- <img
      [src]="linkImgem"
      [height]="alturaImg"
      [width]="larguraImg"/>

    <br/>
    <p>{{alturaImg}} x {{larguraImg}}</p>
    <button (click)="aumentarImg()">Aumentar</button>
    <button (click)="diminuirImg()">Diminuir</button>
    <hr/>
  </section> -->

<!-- ADD APP COMPONENT -->
<router-outlet></router-outlet>
